body {
  background: black;
}
h2 {
  font-weight:bold;
  color:bisque;
  text-align:center; 
  font-size:35px;
}
h1 {
  font-weight: bold;
  color:cadetblue;
  text-align:center;
  font-size: 45px;
}
p {
  color:rebeccapurple;
  font-family:cursive;
  font-size:10px;
  text-align:center;
}
.button {
  background-color: lightpink;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  border-radius:12px;
  box-shadow: 0 10px 0 darkred;
}

.button:hover {
  background-color: lime;
}
#top, #bottom, #left, #right {
  background:linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);;
  position: fixed;
}
#left, #right {
  top: 0; bottom: 0;
  width: 5px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
  left: 0; right: 0;
  height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }
@media all and (max-width: 500px) 
